build/
dist/
.gocache/
*.dll
*.h
*.so
*.dylib
*.a
*.exe
*.test
*.out
*.log
cache.db
configuration.json

!android/src/main/jniLibs/**/*.so
!android/src/main/jniLibs/**/*.h
!linux/artifacts/**/*.so
!linux/artifacts/**/*.h
!windows/artifacts/**/*.dll
!windows/artifacts/**/*.h
!macos/Libraries/**/*.dylib
!macos/Libraries/**/*.a
!macos/Libraries/**/*.h
!ios/Libraries/**/*.a
!ios/Libraries/**/*.h
!ios/Classes/**/*.h
!macos/Classes/**/*.h
!ios/Frameworks/**/*.framework/
!ios/Frameworks/**/*.framework/**
!ios/Frameworks/**/*.xcframework/
!ios/Frameworks/**/*.xcframework/**
!macos/Frameworks/**/*.framework/
!macos/Frameworks/**/*.framework/**
!macos/Frameworks/**/*.xcframework/
!macos/Frameworks/**/*.xcframework/**
